.header {
    text-align: flex-start;
    padding: 2rem;

    span {
        color: #14a37f;
    }

    p {
        color: #212121;
    }

    img {
        width: 100%;
        height: auto;
    }

    background-color: #fff3e0;
}